body.index {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

h3.intro-sub {
  margin-top: 10px;
  font-size: 0.8em;
  color: #ddd;
}

.intro {
  margin-top: 30px;
  font-size: 1.2em;
  color: #ddd;
}

.index-title {
  font-size: 2em;
  margin: 20px 0;
  color: #f39c12;
}

.card-botoes {
  padding: 20px;
  /*box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);*/
}

.menu-container {
  text-align: center;
  padding: 30px 20px;
  background-color: #1a1a1a;
  border-radius: 12px;
  max-width: 300px;
  margin: 40px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.menu-titulo {
  font-size: 1.4em;
  color: #f2f2f2;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.botao-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 20px;
  margin: 10px 0;
  background-color: transparent;
  color: #f39c12;
  border: 2px solid #f39c12;
  border-radius: 10px;
  font-size: 1em;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.botao-menu:hover {
  background-color: #f39c12;
  color: #121212;
  transform: translateY(-2px);
}


.main-header {
  background: linear-gradient(to right, #1f1f1f, #2c2c2c);
  padding: 50px 20px 40px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  border-bottom: 3px solid #f39c12;
}

.logo-title {
  font-size: 2.4em;
  color: #f39c12;
  margin: 0;
  font-weight: 700;
  letter-spacing: 1px;
}

.main-subtitle {
  font-size: 1.8em;
  color: #f2f2f2;
  margin-top: 15px;
  margin-bottom: 10px;
}

.main-intro {
  font-size: 1em;
  color: #ccc;
  font-weight: 500;
}

main {
  flex: 1;
  padding: 20px;
}

.imagem-final-container {
  margin-top: 40px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.imagem-final {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border: 2px solid #f39c12;
}

footer {
  background-color: #1c1c1c;
  color: #aaa;
  text-align: center;
  padding: 20px 10px;
  font-size: 0.9em;
  border-top: 1px solid #333;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #f39c12;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #e67e22;
}
